/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a{
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.iconSection {
    display: -ms-grid;
    display: grid;
    place-items: center;
    min-height: 250px;
    padding: 50px;
    position: relative;
}

.iconSection a{
    background-color: red;
    padding: 15px;
}

.one,
.two,
.three {
    font-size: 35px;
    color: lightblue;
    padding: 35px;
    border-radius: 75% 0% 75% 0%;
    position: absolute;
    -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    border: 2px solid white;
}

.one {
    background-color: #00a3e5;
}

.two {
    z-index: -1;
    color: transparent;
    background-color: #28348b;
}

.three {
    z-index: -2;
    color: transparent;
    background-color: #e6007e;
}

.parentDiv:hover .one,
.parentDiv:hover .two,
.parentDiv:hover .three{
    border: 2px solid transparent;
}

.parentDiv:hover .two {
    -webkit-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

.parentDiv:hover .three {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
}

.titleSection {
    text-align: center;
}

.paraSection {
    text-align: center;
    padding: 15px;
    margin: 15px 0px;
}